.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #666666;
  /* background-image: url("./logo/TodoObjectif-logos_white.png");
  background-repeat: no-repeat;
  background-size: 20vh;
  background-position: top;*/
}
.btnEffectTodo:hover {
  background-color: rgb(0, 0, 0) !important;
}
.btnEffectTodo {
  transition: all 0.5s !important;
}
.todo:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 3px 2px 2px rgb(7, 7, 7);
}

@media only screen and (max-width: 200px) {
  .toutButton {
    width: 20vh;
    height: 13.6vh;
  }
}
html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
